body {
	background-color: #fff;
	margin: 0px;
	padding: 0px;
	font-family: "ubuntu";
}

header {
	height: 40px;
	margin-bottom: 25px;
	background-color: black;
}

.btm {
	display: table-cell;
	vertical-align: middle;
	text-decoration: none;
	color: white; 
	height: 40px;
	padding: 0px 10px 0px 10px;
	cursor: pointer;
}

.btm:hover {
	background-color: rgb(52, 153, 193);
}

.main {
	margin: 100px auto auto auto;
	width: 60%;
	border-radius: 5px;
	border: 2px solid grey;
	padding: 10px;
	text-align: center;
}

.save {
	width: 100%;
	padding: 5px;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	color: white;
	cursor: pointer; 
	outline: none;
}

.save:hover {
	background-color: rgb(52, 153, 193);
}

td input[type=text], td input[type=number], td input[type=email] {
	width: 100%;
	border-radius: 2px;
	height: 23px;
	border: 1.3px solid grey;
}

.chave {
	width: 100%;
	border-radius: 2px;
	height: 23px;
	border: 1.3px solid grey;
	text-align: center;
}

textarea {
	border: 1.3px solid grey;
	border-radius: 2px;
	width: 99%;
	height: 80px;
	overflow-x: hidden; 
}

select {
	width: 100%;
	border-radius: 3px;
	background-color: white;
	padding: 3px;
	font-size: 15px;
}

label {
	display: block;
	text-align: left;
	margin-bottom: 3px;
}

td {
	text-align: left;
}
